.small-icon {
  font-size: 85% !important;
  margin-left: 8px;
}

.tb-fill-remaining-space {
  flex: 1 1 auto;
}

footer {
  color: var(--mat-sys-on-surface-variant);
  padding: 4px;
  text-align: center;
}
footer a {
  color: var(--mat-sys-on-surface-variant);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

#logo {
  flex: 0 0 60px;
}
